
.navbar-nav, a{
    font-size: 20px;
}
.row{
    margin: 20px;
}
.design_left_text{
    width: 300px;
    margin: auto; 
    padding-top: 20px;
}

  /*-----footer--------*/
  .container-fluid{
    background-color:#2e668e;
}
.text{
    margin-top: 300px;
    color: black;
}
  
  
   

  