body{
    font-family: "promt" sans-serif;
    background-size: cover;
}


.header-wrapper {
    margin: auto;
    display: grid;
    grid-template-columns:30% 1fr
 
}
.logo .ddial_logo{
    margin-top:10px;
    width: 150px;
}

.header-nav {
    margin:0 auto;
    padding: 15px 20px;
    margin-top:10px;
}
.header-nav ul li{
    display: inline;
    list-style-type: none;
}
.header-nav a{
    color: black;
    letter-spacing: .1em;
    text-decoration: none;
    font-weight: bold;
}
.header-nav a:hover{
    cursor: pointer;
    color: #0003;
}
.list-item{
    margin-left: 30px;
    padding: 10px;
    text-transform: uppercase;
}

.burger-icon{
    display: none;
}

.container{
    color: #fff;
}

.row{
    padding: 3px;
}
.col{
    height:300px ;
}


.residential-project-edo{
    text-align: center;
    text-decoration: underline;
    background: url(../images/thumbnail/2bedroom.gif) no-repeat;
}
.residential-project-edo p{
    margin-top: 65px;
}

.residential-project-kd{
    text-align: center;
    text-decoration: underline;
    background: url(../images/thumbnail/3bedroom.gif) no-repeat;
}
.residential-project-kd p{
    margin-top: 65px;
}

.RCLagos{
    text-align: center;
    text-decoration: underline;
    background: url(../images/thumbnail/rclag.gif) no-repeat;
}
.RCLagos p{
    margin-top: 65px;
}
.residential-project-lag{
    margin-top: -70px;
    text-align: center;
    text-decoration: underline;
    background: url(../images/thumbnail/lagres.gif) no-repeat;
}
.residential-project-lag p{
    margin-top: 65px;
}
.residential-project-4bedrm{

    margin-top: -70px;
    text-align: center;
    text-decoration: underline;
    background: url(../images/thumbnail/4bedrm.gif) no-repeat;
}
.residential-project-4bedrm p{
    margin-top: 65px;
}

.hanger{

    margin-top: -70px;
    text-align: center;
    text-decoration: underline;
    background: url(../images/thumbnail/Airhanger.gif) no-repeat;
}
.hanger p{
    margin-top: 65px;
}

.mall{
    margin-top: -70px;
    text-align: center;
    text-decoration: underline;
    background: url(../images/thumbnail/mall.gif) no-repeat;
}
.mall p{
    margin-top: 65px;
}
.residential-project{

    margin-top: -70px;
    text-align: center;
    text-decoration: underline;
    background: url(../images/thumbnail/res&bq.gif) no-repeat;
}
.residential-project p{
    margin-top: 65px;
}

.guest-house{
    margin-top: -70px;
    text-align: center;
    text-decoration: underline;
    background: url(../images/thumbnail/guest.gif) no-repeat;
}
.residential-project p{
    margin-top: 65px;
}





.footer{
    display: grid;
    padding: 20px;
    grid-template-columns: minmax(20px, 300px) minmax(20px, 300px) minmax(20px, 300px) minmax(20px, 300px);
    grid-template-columns:auto 1fr 1fr 1fr 1fr;
    background-color: #333;
    color: #fff;
}

.footer-nav {
    font-size: 20px;
    margin-left: -39px;
}
.footer-nav a{
    padding:5px;
    color: white;
}
.footer-nav a:hover{
    font-size: 25px;
}
.footer-nav ul li{
    display: inline;
    list-style-type: none;
}
.copyright{
    display: grid;
    margin: auto;
    text-align: center;
    grid-column: 1/5;

}

/*--tablet media query--*/


@media screen and (max-width:950px){
    .banner-wrapper{
        margin-top: 0px;
        display: grid;
        align-content:center;
    }
    .banner-wrapper h1 {
        margin: auto;
        text-transform:capitalize;
        font-size: 35px;
    }
    .banner-wrapper p{
         margin: auto;
        text-transform:capitalize;
        font-size: 20px;
    }
        .grid{
            padding: 15px;
            max-height: 400px;
            grid-gap: 15px;
        }
        .grid-1, .grid-2, .grid-3{
            font-size: 15px;
        }
        .header-nav{
            grid-column:1/5;
            text-align: center;
            margin: 0;
            padding:0;
        }
        .logo{
            grid-column:1/5;
            text-align: center;
        }
        .button{
            margin-top: 30px;
    
        }
        .gridleft_right{
            font-size: 15px;
        }
        
        .footer{
            font-size: 14px;
            
            
        }
        .footer-logo{
        }
        .footer-nav{
            font-size: 10px;
            width: 150px
            
        }
        
        .contact{
            font-size: 10px;
            margin-left: -10px;
    
        }
        .address{
            font-size: 10px;
            padding-left:10px;
        }
        .copyright{
            display: grid;
            margin:10px 150px;
            text-align: center;
            grid-column: 1/-1;
            
           }
    }
    
    /*mobile media query*/
    
    @media screen and ( max-width:650px){
        .logo{
            width: 200px;
            grid-column:1/3;
        }
        .nav-items{
            grid-column:1/-1;
            text-align: center;
            margin: 0;
        }
        .header-wrapper ul{
            padding: 0;
            margin: 0;
        }
        .header-wrapper ul li{
            display: block;
        }
        .burger-icon{
            display: inline-block;
            justify-self:end;
            grid-column: -1/-1;
            border: 2px solid #333;
            color: #333;
            padding: 10px;
            font-weight: bold;
            border-radius:4px;
            height: 20px;
            
        }
        
        .burger-icon:hover{
            cursor:pointer;
            }
        .banner-wrapper{
            height: 400px;
        }
        .wrapper{
            margin-top:-19px;
            padding-top: 1px;
            height:650px;
        }
        .grid{
            margin: auto;
            padding: 7px;
            grid-gap:1px;
            grid-template-areas: 
                "grid-1"
                "grid-2"
        }
        .grid-1{
            font-size: 15px;
            grid-area: 1/-1;
        }
        .grid-2{
            font-size: 15px;
            grid-area: 2/-1;
        }
        .grid-3{
            font-size: 15px;
            grid-area: 3/-1;
            margin-bottom: 50px;
        }
        .button{
            margin-top: 240px
        }
        .info{
            font-size:10px;
            margin-top: 30px;
        }
        .info h2{
            text-align: center;
        }
        .gridleft_right{
            font-size: 10px;
            padding: 10px;
            grid-gap:10px;
        }
        .footer{
            margin: auto;
            padding:0;
        }
        .contact{
            margin-left: 40px;
            font-size: 10px;
            grid-area: 1/1
        }
        .address{
            width: 200px;
            font-size: 10px;
            margin-left:20px;
            grid-area: 1/-1;
        }
        .copyright{
            text-align: center;
            width: 400px;
            font-size: 10px;
            margin: auto
        }
        .footer-logo{
            display: none;
        }
        .footer-nav{
            display: none;
        }
        .mobile-show{
            display: block;
        }
        .mobile-hide{
            display: none;
        }
    }
        /*---mobile media query for iphone 6-----*/
        @media screen and ( max-width:375px){
            .logo{
                width: 200px;
                grid-column:1/3;
            }
            .nav-items{
                grid-column:1/-1;
                text-align: center;
                margin: 0;
            }
            .header-wrapper ul{
                padding: 0;
                margin: 0;
            }
            .header-wrapper ul li{
                display: block;
            }
            .burger-icon{
                display: inline-block;
                justify-self:end;
                grid-column: -1/-1;
                border: 2px solid #333;
                color: #333;
                padding: 10px;
                font-weight: bold;
                border-radius:4px;
                height: 20px;
                
            }
            
            .burger-icon:hover{
                cursor:pointer;
                }
            .banner-wrapper{
                height: 400px;
            }
            .wrapper{
                margin-top:-19px;
                padding-top: 1px;
                height:650px;
            }
            .grid{
                margin: auto;
                padding: 7px;
                grid-gap:1px;
                grid-template-areas: 
                    "grid-1"
                    "grid-2"
            }
            .grid-1{
                font-size: 15px;
                grid-area: 1/-1;
            }
            .grid-2{
                font-size: 15px;
                grid-area: 2/-1;
            }
            .grid-3{
                font-size: 15px;
                grid-area: 3/-1;
                margin-bottom: 50px;
            }
            .button{
                margin-top: 240px
            }
            .info{
                font-size:10px;
                margin-top: 30px;
            }
            .info h2{
                text-align: center;
            }
            .gridleft_right{
                font-size: 10px;
                padding: 10px;
                grid-gap:10px;
            }
            .footer{
                margin: auto;
                padding:0;
            }
            .contact{
                margin-left: 40px;
                font-size: 10px;
                grid-area: 1/1
            }
            .address{
                width: 200px;
                font-size: 10px;
                margin-left:20px;
                grid-area: 1/-1;
            }
            .copyright{
                text-align: center;
                width: 400px;
                font-size: 10px;
                margin: auto
            }
            .footer-logo{
                display: none;
            }
            .footer-nav{
                display: none;
            }
            .mobile-show{
                display: block;
            }
            .mobile-hide{
                display: none;
            }
        }
        /*---mobile media query for 320 below ---*/
    @media screen and ( max-width:340px){
        .button{
            margin-top: 320px
        }
        .footer > div{
            margin-right:-10px;
            margin-left: 10px;
        }
    }
    




















