

.navbar-nav, a{
    font-size: 20px;
}
.row{
    margin: 20px;
}
.design_left_text{
    width: 300px;
    margin: auto; 
    padding-top: 20px;
}
.banner-text{
  margin-top: 15em;
}
.btn-primary{
  margin-top: 20px;
}
.main-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 55px;
    margin-top: 55px;
}
.potfolio-title{
    height: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding:10px;

background-color:#e3f2fd
}

.master_detail .detail_list {
    background-color: #ccc;
    height: 100%;
    widows: 100%;
  }
  
  .master_detail .detail_list article {
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    top: 0;
  }
  
  .master_detail .detail_list article.fadeIn {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
  }
  
  .master_detail .detail_list article.grow {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  

  /*-----footer--------*/
  .container-fluid{
    background-color:#2e668e;
}
.text{
    margin-top: 300px;
    color: black;
}

  
  @media (max-width: 990px) {
    .mobile-show{
      height: 300px;
    }
    .banner-text{
      margin-top: 6rem;
    }
    .banner-text, h3, p{
      font-size: 20px;
    }
    .card-body-mobile{
      height: auto;
    }
    .card-body-mobile, h5, p{
      font-size: 10px;
    }

   }
   @media (max-width: 560px) {
    .card-body-mobile{
      height: auto;
    }
    .card-body-mobile, h5, p{
      font-size: 20px;
    }
   }


   

  